<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h2>What?</h2>
    <p>
    Uniquely U is one of a new breed of social media sites. One that strives to put on an emphasis on the things that makes us unique. It is an open platform to share what make you one in a million and to help push you out of your comfort zone by trying new things.
    </p>
    <br>
    <h2>Why?</h2>
    <p>
    The reason Uniquely U is neccessary because current social media and social network websites currently support the ideology of conformity over individuality. We believe that every person has the ability to be truly unique from anybody in history given the right tools.
    </p>
    <br>
    <h2>How?</h2>
    <p>
    The way this site helps individuals be more unique is by rewarding individual who participate in unordinary or one of a kind activites or events. We also have a section to submit events that you would like others to participate in or would reccomd for others to try. 
    </p>
  </div>
</div>